<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="teste">ryan doido</div>
    <script src="index.js" defer></script>

    <label for="email">Digite seu email</label type = email>
    <input type="email" placeholder = 'digite' type = "email"> 
    
    <label for="senha">Digite sua senha</label>
    <input type="password">

    <button>Enviar</button>
</body>
</html>